@import "tailwindcss";

@source "../**/*.{js,ts,jsx,tsx}";

@font-face{
    font-family:"Ubuntu";
    src:url(./fonts/Ubuntu/Ubuntu-Regular.ttf)
}

@theme {
    --font-Ubuntu : "Ubuntu",sans-serif;
    --color-background: #0D0D0D;
    --color-surface: #1A1A1A;
    --color-accent: #E8C547;
    --color-text-primary: #F5F5F5;
    --color-text-muted: #888888;
  }