@import "tailwindcss";

@source "../**/*.{js,ts,jsx,tsx}";
@source "../../../packages/ui/src/**/*.{js,ts,jsx,tsx}";

@font-face{
    font-family:"Ubuntu";
    src:url(./fonts/Ubuntu/Ubuntu-Regular.ttf)
}
@font-face{
    font-family:"Inter";
    src:url(./fonts/Inter/intermain.ttf
    )
}
.scroll-custom::-webkit-scrollbar {
    height: 7px;
  }
  .scroll-custom::-webkit-scrollbar-track {
    background: var(--color-surface);
  }
  .scroll-custom::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 999px;
  }
@theme {
    --font-Inter:"Inter",sans-serif;
    --font-Ubuntu:"Ubuntu",sans-serif;
    --color-background: #7A8A4E;
    --color-mid: #98A66B;
    --color-surface: #8A9A5B;
    --color-accent: #F2EDD7;
    --color-text-primary: #F5F0E8;
    --color-text-secondary: #B9B29A;
    --color-text-muted: #C8C4A0;
  }